/* LiGHT THEME STYLES */

:global(.light) .boxes {
  background-color: #f9f9f9;
  border: 1px solid black;
}

:global(.light) .boxTitles {
  color: #2a5db0;
}

:global(.light) .boxDescriptions {
  color: #333333;
}

/* DARK THEME STYLES */

.boxes {
  background-color: black;
  border-radius: 20px;
  overflow: hidden; /* Ensure the border radius applies to the image */
  width: 400px;
  height: 400px;
  /* position: absolute;
  top: 1650px; */
  margin: 5px;
}

.boxImages {
  width: 100%;
  height: 75%;
  display: block;
  background-size: cover;
}

.boxContent {
  padding: 20px;
}

.boxTitles {
  color: #9cc9f5;
  margin-top: 0;
}

.boxDescriptions {
  color: white; /* Grey color */
}
