.title-description {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .text-content {
    margin-right: 20px; /* Adjust spacing between text content and search area */
    padding-left:150px ;
  }
  
  .search-area {
    margin-left: auto; /* Push search area to the right */
    padding-right: 150px;
    display: flex;
    align-items:center;
    
  }
  
  .search-area input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #1B1D21; 
    color: white;
    height:45px;
  }
  
  .title {
    color: white;
    margin: 0; /* Remove default margin */
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 107.7%;
    padding:10px;
  }
  
  .description {
    color: #808080; /* Grey color */
    margin: 0; /* Remove default margin */
  }
  .searchbaricon1{
    height: 45px;
    padding-left: 10px;
    /* position: absolute;
    right :20px */

  }
  
