/* LiGHT THEME STYLES */

:global(body[data-theme="light"]) .modal {
  background-color: #fff;
  border-color: black;
  color: black;
}

:global(body[data-theme="light"]) .text {
  color: black;
}

/* DARK THEME STYLES */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2b2e34;
  padding: 30px 20px;
  z-index: 1;
  width: 350px;
  height: 340px;
  border-radius: 1rem;
  border: 2px solid #fff;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal img {
  border-radius: 50%;
  width: 110px;
  min-height: 110px;
}

.text {
  color: #fff;
  margin: 1.3rem 0;
  line-height: 2rem;
}

.text h1 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.text h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.btns {
  margin-top: 3.4rem;
  display: flex;
  justify-content: space-evenly;
}

.modal button {
  height: 40px;
  width: 150px;
}
