/* LiGHT THEME STYLES */

:global(.light) .container,
:global(.light) .metaData,
:global(.light) .joinStatus {
  background-color: #f4f4f4;
  color: black;
}

:global(.light) .clubInfo,
:global(.light) .clubDesc,
:global(.light) .clubDesc p,
:global(.light) .clubContact,
:global(.light) .events > div,
:global(.light) .noItem {
  color: black;
  background-color: #fff;
}

:global(.light) .clubTitle h2 span,
:global(.light) .clubContact h2 span {
  color: black;
}
:global(.light) .clubTitle table th,
:global(.light) .clubTitle table td {
  color: black;
  border-color: black;
}

:global(.light) .clubContact h2 img {
  filter: invert(1) brightness(0.8);
}

:global(.light) .clubImages img:first-of-type,
:global(.light) .clubImages img:nth-of-type(2) {
  border-color: white;
}

/* DARK THEME STYLES */

.container {
  position: relative;
  width: 100%;
  color: #fff;
}

/*Upper Details Section */
.clubInfo {
  background-color: #1b1d21;
  padding: 1.6rem 1.3rem;
  border-radius: 1rem;
  width: 100%;
}

.clubImages {
  height: 380px;
  position: relative;
}

.clubImages img:first-of-type {
  min-width: 100%;
  max-width: 100%;
  min-height: 330px;
  max-height: 330px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: fill;
  border: 1px solid #555555;
}

.clubImages img:nth-of-type(2) {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 150px;
  border: 2px solid #1b1d21;
  z-index: 1;
  object-fit: cover;
  text-align: center;
}

.clubTitle {
  padding: 1em 3em 0;
  display: flex;
  justify-content: space-between;
}

.clubTitle h1 {
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: 1px;
}

.clubTitle h2 {
  font-size: 1em;
  margin: 0.5em 0;
}

.clubTitle h2 span {
  color: #6f7072;
}

.clubTitle h3 {
  margin-top: 0.75em;
}

.cateList {
  flex-wrap: wrap;
}

.clubTitle table {
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  width: 100%;
}

.clubTitle table th {
  color: #6f7072;
  font-size: 1em;
  font-weight: normal;
  padding: 0 0.5em 0.6em;
  border-right: 1px solid white;
}

.clubTitle table td {
  font-size: 0.8em;
  border-right: 1px solid white;
}

.clubTitle table th:last-child,
.clubTitle table td:last-child {
  border-right: none;
}

.metaDataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.4em;
}

.metaData {
  height: 80px;
  padding: 1rem 0;
  border-radius: 0.5em;
  background-color: #212225;
}

.joinClub {
  font-size: 0.9rem !important;
  padding: 0.5em !important;
}

.joinStatus {
  height: 50px;
  padding: 1rem 0.9rem;
  border-radius: 0.8em;
  background-color: #212225;
  font-size: 0.9rem !important;
  color: #fff;
}

/*Lower Details Section */
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 312px 140px 1fr;
  column-gap: 6rem;
}

.clubDesc {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 2rem;
  background-color: #1b1d21;
  max-height: 250px;
  overflow-y: auto;
}

.clubDesc::-webkit-scrollbar {
  width: 5px;
}

.clubDesc::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 5px;
}

.clubDesc::-webkit-scrollbar-track {
  background-color: #4d4e51;
}

.clubDesc h1 {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 2.3px;
  margin-bottom: 1em;
}

.clubDesc p {
  color: #f1f1f1;
  letter-spacing: 0.3px;
}

.clubContact {
  grid-area: 2 / 1 / 3 / 2;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #1b1d21;
  max-height: 140px;
}

.clubContact h1 {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 2.3px;
  margin-bottom: 1em;
}

.clubContact h2 {
  color: #f1f1f1;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.clubContact h2 span {
  display: flex;
  color: #f1f1f1;
  margin-left: 1rem;
}

.clubContact h2 img {
  -webkit-user-drag: none;
  user-select: none;
}

.clubContact h2:first-of-type {
  margin-bottom: 0.5em;
}

/* Events on right */
.events {
  grid-area: 1 / 2 / 4 / 3;
  border-radius: 1rem;
  margin-top: 2rem;
}

.events > div {
  background-color: #1b1d21;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}

.events > div:not(:first-child) {
  margin-top: 2rem;
}

.noItem {
  height: 40px;
  width: 100%;
  padding: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  text-align: center;
  background-color: #1b1d21;
}
